{% extends '_base.html.twig' %}

{# ----------------------------------------- #}

{% block title %}
    Lecturer's
{% endblock %}

{# ----------------------------------------- #}

{% block body %}
    <h1>Lecturer's Bibliographys</h1>

{% endblock %}

{# ----------------------------------------- #}