{% extends '_base.html.twig' %}

{#-------------------------------------------#}

{% block title %}
    Login Page
{% endblock %}

{#-------------------------------------------#}

{% block body %}
    <h1>Login</h1>

    {% if error %}
        <div> {{ error.messageKey | trans(error.messageData, 'security') }}</div>
    {% endif %}

        <form action="{{ path ('loginSymf') }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token ('authenticate') }}">
            <p>
                <label for="username">Username:</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}"/>
            <p>
                <label for="password">Password:</label>
                <input type="password" id ="password" name="_password"/>
            <p>
                <button type="submit">login</button>
            <p>
                <input type="hidden" name="_target_path" value="/student/" />
                <input type="hidden" name="_failure_path" value="" />
        </form>

{% endblock %}

{#-------------------------------------------#}