{% extends '_base.html.twig' %}

        {% block Logout %}
        {% endblock %}

{% block body %}
    <h1>You are logged out</h1>
    <a href="{{ path('loginlecturer') }}">Back to the list</a>
{% endblock %}

