{% extends '_base.html.twig' %}

{# ----------------------------------------- #}

{% block title %}
    Tags
{% endblock %}

{# ----------------------------------------- #}

{% block body %}
    <article class="article">
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Tag</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>

            {#<h2>Front End</h2>#}

            {#{% for tags in frontRepo %}#}

                {#<tr>#}
                    {#<td>{{ tags.id }}</td>#}
                    {#<td>{{ tags.tag }}</td>#}
                    {#<td>#}
                        {#<ul>#}

                        {#</ul>#}
                    {#</td>#}
                {#</tr>#}
            {#{% endfor %}#}



            </tbody>
        </table>
    </article>
{% endblock %}