.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    text-align: center;
}

.flex-container > * {
    padding: 15px;
    -webkit-flex: 1 100%;
    flex: 1 100%;
}

.article {
    text-align: left;
}

header {background: #222233;color:white;}
footer {background:#222233;color:white;}

a,footer,li a,h1, h2, h3, h4, p {
    color: #AACCFF;
    font-family: Helvetica Neue,Helvetica,sans-serif;
}
a{
    color:grey;
}
body {
    background-color: #222233;
    margin: 0 0 20px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #222233;
}

li {
    float: left;
}

li a {
    display: block;
    color:#AACCFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color:	#778899;
}

@media all and (min-width: 768px) {

    footer {

        position: absolute;
        bottom: 0;
        height: 20px;
        width: 100%;
            }
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: #dddddd;
    color: black;
}

td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

.flash-error{
    font-family: Helvetica Neue,Helvetica,sans-serif;
    font-size: 30px;
    padding: 1rem;
    margin:1rem;
    background-color: pink;
}

.flash-notice{
    font-family: Helvetica Neue,Helvetica,sans-serif;
    font-size: 30px;
    padding: 1rem;
    margin:1rem;
    background-color: white;
}

label {
    font-family: Helvetica Neue,Helvetica,sans-serif;

    width:20rem;
    padding-right: 0.5rem;
    font-weight:bold;
    color:#AACCFF;

}


.form-field{
    padding-bottom: 1rem;
}

idTag{
    color:blue;
}


