{% extends '_base.html.twig' %}

{#-------------------------------------------#}
{% block title %}
login page
{% endblock %}

{#--------------------------------------------#}
{% block main %}
    <h1>This is the login page</h1>
    <p>
        hello
    </p>

{% endblock %}